@import './assets/imports.styl'
@import './assets/normalize.styl'
@import './assets/general'
@import './assets/grid'
@import './assets/icons'
@import './partials/*'

.kit-icons
  .hst-icon
    float left
    margin-left 2*GS 