// BLOCKS
@import '../assets/imports.styl'

body
  background-color c-background
  font-family 'Open Sans',Helvetica Neue,Helvetica,Arial
  line-height 1.8
  letter-spacing .1*PX
  
*
  bbox()
  
// p
//   font-size 12*PX
  
.main-column
  max-width         128*GS
  min-height        80*GS
  border-radius     BR
  background-color  white
  margin            2*GS
  padding           6*GS 4*GS 
  overflow-x        hidden
  fly()
  .hst-at-less-860 &
    margin-left 0
    margin-right 0
  &--padding-less
    padding 0
  
  
.clearfix
  clearfix()