// BLOCKS
@import '../assets/imports.styl'

body
  background-color c-background
  font-family 'Open Sans',Helvetica Neue,Helvetica,Arial
  line-height 1.8
  letter-spacing .1*PX
  
*
  bbox()
  
.main-column
  max-width         80*GS
  min-height        200*GS
  border-radius     BR
  background-color  white
  padding           6*GS 4*GS
  margin            2*GS
  fly()
  
.clearfix
  clearfix()