.hst-switch
  .hst-switch__base
    input(type="checkbox", id="hst-switch-1")
    .hst-switch__circle
    
    label(for="hst-switch-1").hst-switch__label.hst-switch__label--left Multiple
    label(for="hst-switch-1").hst-switch__label.hst-switch__label--right Percentage

