doctype
html.hst-at-less-1040.hst-at-less-860.hst-at-less-600.hst-at-less-400.hst-at-less-370
  head
    meta(charset='UTF-8')
    meta(name="fragment", content="!")
    meta(name="description  ", content="Unparalleled Twitter audience data and hyper-targeted segmentation. Our database has over 30K demographic and affinity segments on more than 50mm Twitter users.")
    meta(name="viewport", content="width=device-width")
    title Hootsuite - StatSocial App
    link(href="css/main.css", rel="stylesheet", type="text/css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet', type='text/css')

  body
    - var el = {}
    include ./css/icons.svg
    .main-column
      .kit-icons.clearfix
        - var el = { path: 'sex' }
        include partials/icon
        - var el = { path: 'earth' }
        include partials/icon
        - var el = { path: 'heart' }
        include partials/icon
        - var el = { path: 'influencer' }
        include partials/icon
        - var el = { path: 'personality' }
        include partials/icon
        - var el = { path: 'age' }
        include partials/icon
        - var el = { path: 'income' }
        include partials/icon
        - var el = { path: 'brand' }
        include partials/icon
        - var el = { path: 'tv' }
        include partials/icon
        - var el = { path: 'ibm-watson' }
        include partials/icon
        - var el = { path: 'info' }
        include partials/icon
        - var el = { path: 'statsocial' }
        include partials/icon
      br
      hr
      br
      - var el = { text: 'New York' }
      include partials/bar-label
      br
      - var el = { modifier: 'bold', text: 'New York' }
      include partials/bar-label
      br
      - var el = { width: '100' }
      include partials/bar
      br
      br
      - var el = { text1: 'New York', barWidth: '100', text2: '124.21x' }
      include partials/labeled-bar
      br
      br
      br
      br
      br
      br
      mixin labeledBars(className)
        .hst-labeled-bars(class="#{className || ''}")
          - el = { caption: 'Top Cities' }
          include partials/labeled-bars-caption
          .hst-labeled-bars__icon
            - var el = { path: 'earth' }
            include partials/icon
          .hst-labeled-bars__body
            .hst-labeled-bars__baseline
            - var el = { modifier: 'bold', text1: 'Adventurousness', barWidth: '100', text2: '224.91x' }
            include partials/labeled-bar
            - var el = { text1: 'San Francisco', barWidth: '90', text2: '2.81x' }
            include partials/labeled-bar
            - var el = { text1: 'Rollsroyce Motor Cars', barWidth: '85', text2: '1.95x' }
            include partials/labeled-bar
            - var el = { text1: 'Nico Hulkenberg', barWidth: '80', text2: '1.84x' }
            include partials/labeled-bar
            - var el = { text1: 'Motor City Masters', barWidth: '72', text2: '1.41x' }
            include partials/labeled-bar
      div
        +labeledBars()
        +labeledBars()
        +labeledBars()
      
      - var el = { text: 'Request Demo' }
      include partials/link
      
      br
      br
      br

      - var el = {}
      include partials/switch

      br

      - var el = { modifier: 'help', label: 'Help', iconPath: 'info' }
      include partials/labeled-icon

      br

      - var el = { modifier: 'help', class:'hst-labeled-icon--small-help', label: 'Help', iconPath: 'info' }
      include partials/labeled-icon

      br

      - var el = { modifier: 'ibm-watson', label: 'Powered by IBM Watson', iconPath: 'ibm-watson' }
      include partials/labeled-icon

      br

      - var el = {}
      include partials/avatar

      brh

      - var el = { text: 'Audi', tagName: 'a', modifier: 'company-name' }
      include partials/bar-label

      - var el = { text: '@audi', tagName: 'a', modifier: 'company-username' }
      include partials/bar-label

      mixin companyAvatar()
        .hst-company-avatar
          .hst-company-avatar__avatar
            - var el = {}
            include partials/avatar
          .hst-company-avatar__text
            .hst-company-avatar__name
              - var el = { text: 'Audi', tagName: 'a', modifier: 'company-name' }
              include partials/bar-label
            .hst-company-avatar__username
              - var el = { text: '@audi', tagName: 'a', modifier: 'company-username' }
              include partials/bar-label
      +companyAvatar()

      br
      br
      - var el = {}
      include partials/company-stats

      br
      
      - var el = { number: '1.63', text: 'tweets/day' }
      include partials/company-stats

      br

      - var el = { }
      include partials/company-stats-line

      br

      mixin companySwitchPanel()
        .hst-company-switch-panel
          .hst-company-switch-panel__left
            - var el = {}
            include partials/switch
          .hst-company-switch-panel__right
            - var el = { modifier: 'help', class:'hst-labeled-icon--small-help', label: 'Help', iconPath: 'info' }
            include partials/labeled-icon
      +companySwitchPanel()

      br

      mixin companyControls()
        .hst-company-controls
          .hst-company-controls__avatar
            +companyAvatar()
          .hst-company-controls__stats-line
            - var el = { }
            include partials/company-stats-line
          .hst-company-controls__switch-panel
            +companySwitchPanel()
      
      +companyControls()

      br
      
      mixin reportDescription()
        .hst-report-description
          .hst-report-description__links
            .hst-report-description__links-heading Help:
              a(href="#") Definitions
              a(href="#") Calculations
              a(href="#") Using This Report
          .hst-report-description__text
            p Lorem ipsum dolor sit amet, consectatur adipicing elit. Sed do euismod tempor ut labora et dolora magna aliqua. Dolor sit amet, consectatur adipicing elit. Sed do euismod tempor ut labora et dolora magna aliqua.
          .hst-report-description__button
            - var el = { text: 'Request Demo' }
            include partials/link
      +reportDescription()
      
    .main-column.main-column--padding-less
      .hst-report
        .hst-report__body
          +companyControls()
          .hst-report__bars
            .hst-report__bar
              +labeledBars('hst-labeled-bars--baseline-label hst-labeled-bars--baseline-label-first')
            .hst-report__bar
              +labeledBars('hst-labeled-bars--baseline-label hst-labeled-bars--baseline-label-first-maybe')
            .hst-report__bar
              +labeledBars()
            .hst-report__bar
              +labeledBars()
            .hst-report__bar
              +labeledBars()
            .hst-report__bar
              +labeledBars('hst-labeled-bars--baseline-label hst-labeled-bars--baseline-label-last-maybe')
            .hst-report__bar
              +labeledBars('hst-labeled-bars--baseline-label hst-labeled-bars--baseline-label-last')
            .hst-report__bar.hst-report__description
              +reportDescription()
      



