@import '../assets/imports.styl'

{ el = '.hst-labeled-bars' }
  position relative
  min-width 260*PX
  clearfix()
  &--baseline-label
    {el}__baseline
      &:before
        content 'Twitter Average'
        position absolute
        font-size 12*PX 
        width 9*GS
        margin-left -4.5*GS
        color  c-dark2
        .hst-at-less-370 &
          font-size 10*PX 
  &--baseline-label-first,
  &--baseline-label-first-maybe
    {el}__baseline
      &:before
        top -2*GS
  &--baseline-label-last,
  &--baseline-label-last-maybe
    {el}__baseline
      &:before
        bottom -2*GS
  &--baseline-label-first-maybe,
  &--baseline-label-last-maybe
    .hst-at-less-860 &
      {el}__baseline
        &:before
          display none !important
  .hst-labeled-bar
    float      left
    width      100%
  &__body
    clearfix()
    margin-left 5*GS
    position relative
    padding-top 2*GS 
    padding-bottom 4*GS
    .hst-at-less-1040 &
      margin-left 0
    .hst-at-less-860 &
      padding-top 2*GS
      padding-bottom 2*GS
  &__baseline
    height 99.5%
    margin-top -4*GS
    position absolute
    left 55%
    z-index 3
    width PX
    border-left PX dotted c-dark2
    .hst-at-less-860 &
      margin-top -3*GS
    .hst-at-less-370 &
      left 59.75%
  &__icon
    position absolute
    top 50%
    left 0
    margin-top -2*GS
    .hst-at-less-1040 &
      display none
      
    
    