@import '../assets/imports.styl'

.hst-labeled-bar
  &__label,
  &__bar
    float left
  &__bar
    width 50%
  &__label
    text-align right
    &--left
      width 30%
      padding-right 1.5*GS
      display table
      height 5*GS
      margin-top - 1.5*GS
      .hst-bar-label
        display table-cell
        vertical-align middle
    &--right
      width 20%
      margin-top 3*PX 
  &--bold
    .hst-bar-label
      font-weight bold