@import '../assets/imports.styl'

.hst-link
  background-color white
  color c-dark1
  border PX solid c-blue1
  font-size 11*PX
  padding GS 2*GS 
  border-radius BR
  box-shadow SHADOW_1
  text-decoration none 
  cursor pointer
  &:hover,
  &:focus
    background-color rgba(c-blue1, .1) 
  &:active
    box-shadow none
    