
.hst-login
  margin-top 2.5*GS 
  margin-bottom 8*GS 
  &__icon
    .hst-icon
      fill c-blue1
      rect 162*PX
      fly()
  &__button
    text-align center
    margin-top 1*GS 
  &__description
    margin-top 3.5*GS 
    padding 1.5*GS GS
    font-size 12*PX
    line-height 1.6
    border-top PX solid c-dark4 
    border-bottom PX solid c-dark4
    max-width 24*GS
    font-weight 300 
    fly()
    p
      margin-top 5*PX
  