
.hst-overlay
  position fixed // for live
  position absolute
  nw 0
  background-color rgba(c-dark1, .4)
  cursor pointer
  rect 100%
  transition background .15s ease-out
  &:hover
    background-color  rgba(c-dark1, .3)