
verticalGap = GS
.hst-report-description
  font-size 12*PX
  max-width 400*PX
  border-left 1*PX solid c-blue1
  padding-bottom 5*PX
  padding-left 3*GS
  text-align left
  .hst-at-less-860 &
    max-width 100%
  &__links-heading
    display inline-block
    font-weight bold
    margin-right GS
    margin-bottom verticalGap 
    a
      display inline-block
      margin-left GS
      color c-blue1
      font-weight 100
      text-decoration none
      &:hover
        text-decoration underline
  &__text
    margin-bottom verticalGap