
verticalGap = GS
.hst-report-description
  font-size 12*PX
  max-width 400*PX
  border-left 1*PX solid c-blue1
  padding-bottom 5*PX
  padding-left 3*GS
  text-align left
  .hst-at-less-860 &
    max-width 100%
  .hst-at-less-370 &
    padding-left 0
    border-left 0
    font-size 11*PX
    border-top 1px solid c-dark4
    padding-top 2*GS  
  &__links-heading
    display inline-block
    font-weight bold
    margin-right GS
    margin-bottom verticalGap 
    a
      display inline-block
      margin-left GS
      color c-blue1
      font-weight 100
      text-decoration none
      .hst-at-less-370 &
        margin-left .5*GS 
      &:hover
        text-decoration underline
  &__text
    margin-bottom verticalGap
  &__button
    padding-top .5*GS 
    .hst-at-less-370 &
      text-align center
        
      
    
    
