@import '../assets/imports.styl'

.hst-bar-label
  font-size 10*PX
  line-height 1
  &--bold
    font-weight bold
  &--grey-caption
    color c-dark2
    font-weight bold
  &--highlight-caption
    font-size 14*PX
    color c-blue1
    font-weight bold
  &--company-name
    font-size 16*PX
    text-decoration none
    color c-dark1
    display inline-block
    font-weight bold 
  &--company-username
    font-size 13*PX
    text-decoration none
    color c-dark2
    display inline-block
    
