@import '../assets/imports.styl'

.hst-bar
  height      2*GS
  position    relative
  &__line
    height    inherit
    position  absolute
    width     100%
    &--grey
      background-color  c-dark3
      max-width         50%
      z-index           2
    &--blue
      background-color  c-blue1
      z-index           1