
.hst-company-switch-panel
  position relative
  max-width 40*GS
  padding-top 5*PX
  padding-bottom 5*PX
  &__right
    position absolute
    ne 0
    width 8*GS
    padding-top GS 
    padding-bottom GS 
    padding-left 2*GS
    border-left PX solid c-dark4
    .hst-at-less-370 &
      .hst-labeled-icon
        font-size 10*PX 
    
  
    